<html>

<head>
  <base href="." />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Shop Brasil</title>
  <!-- Seu CSS personalizado -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#cliente">Cliente</a></li>
      <li><a href="#produto">Produto</a></li>
      <li><a href="#pedido">Pedido</a></li>
    </ul>
  </nav>
  <section id="home"> <!-- Nova seção Home -->
    <div class="container">
      <h2>Bem-vindo ao E-Shop Brasil</h2>
      <p>Aqui você encontra os melhores produtos e serviços para atender todas as suas necessidades. Explore nossas
        seções para cadastrar clientes, gerenciar produtos e fazer pedidos.</p>
      <p>Navegue pelo nosso site para descobrir mais!</p>
    </div>
  </section>
  <section id="cliente">
    <div class="container">
      <h2>Clientes</h2>
      <div class="card">
        <h3>Gerenciar clientes</h3>
        <p>Mantenha um registro detalhado de todos os seus clientes.</p>
        <p>Comece a gerenciar seus clientes de maneira eficiente agora mesmo!</p>
      </div>
      <div class="text-center">
        <a href="/cliente" class="btn btn-primary mb-2">Cadastrar Cliente</a>
        <a href="/show_clientes" class="btn btn-secondary">Mostrar Clientes</a>
      </div>
    </div>
    </div>
  </section>

  <section id="produto">
    <div class="container">
      <h2>Nossos Produtos</h2>
      <div class="card">
        <h3>Gerenciar produtos</h3>
        <p>Cadastre novos produtos de forma rápida e prática.</p>
        <p>Consulte os detalhades dos produtos e suas características.</p>
      </div>
      <div class="text-center">
        <a href="/produto" class="btn btn-primary mb-2">Cadastrar Produto</a>
        <a href="/show_produtos" class="btn btn-secondary">Mostrar Produtos</a>
      </div>
    </div>
  </section>

  <section id="pedido">
    <div class="container">
      <h2>Faça seu Pedido</h2>
      <div class="card">
        <form id="pedidoForm" action="/submit_pedido" method="POST">
          <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select id="cliente_search" name="cliente" required>
              <option value="" selected disabled>Selecione um cliente</option>
              {% for cliente in clientes %}
              <option value="{{ cliente.codigo }}">{{ cliente.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="produto">Produto:</label>
            <select id="produto_search" name="produto" required>
              <option value="" selected disabled>Selecione um produto</option>
              {% for produto in produtos %}
              <option value="{{ produto.codigo }}">{{ produto.nome }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" id="quantidade" name="quantidade" value="0" required>
          </div>
          <button type="submit">Enviar Pedido</button>
          <a href="/show_pedidos" class="btn btn-secondary">Consultar Pedidos</a>
        </form>
      </div>
    </div>
  </section>
</body>
</html>