<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Shop Brasil</title>
</head>
<body>
    <h1>Welcome to E-Shop Brasil!</h1>
    <a href="/cliente">Cadastro de Cliente</a><br>
    <a href="/produto">Cadastro de Produto</a><br>
    <a href="/pedido">Cadastro de Pedido</a><br>
    <a href="/show_clientes">Mostrar Clientes</a><br>
    <a href="/show_produtos">Mostrar Produtos</a><br>
    <a href="/show_pedidos">Mostrar Pedidos</a>
</body>
</html>
    
