<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedido</title>
</head>
<body>
    <h1>Cadastro de Pedido</h1>
    <form action="/submit_pedido" method="POST">
        <label for="cliente">Código do Cliente:</label>
        <input type="text" id="cliente" name="cliente"><br><br>
        <label for="produto">Código do Produto:</label>
        <input type="text" id="produto" name="produto"><br><br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade"><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
